:root {
  --border-color: #d3ead3;
  --primary-background-color: #f4f4f4;
  --secondary-background-color: #ee6c4d;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --flex-gap: 8px;
  --border-radius-medium: 5px;
  --border-radius-extra-large: 16px;
}

/* Resetting default settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
body {
  background-color: var(--primary-background-color);
  font-family: "Poppins", sans-serif;
}

#todo {
  max-width: 650px;
  width: 90%;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 36px auto;
  border-radius: var(--border-radius-medium);
}

.todo-title {
  text-align: center;
  padding: 20px 0;
}

.todo-input-container {
  display: flex;
  gap: var(--flex-gap);
}

.todo-input-container .todo-input {
  flex: 3;
  width: 100%;
  border: 3px solid var(--border-color);
  outline: none;
  padding: 8px 12px;
  font-size: var(--font-size-medium);
  border-radius: var(--border-radius-medium);
  font-family: "Poppins", sans-serif;
}

.todo-input-container .todo-add-btn {
  flex: 1;
  border: 3px solid var(--border-color);
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-large);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.todo-container {
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  margin-top: 24px;
}

.todo-container .todo-item {
  display: flex;
  align-items: center;
  gap: var(--flex-gap);
}

.todo-container .todo-text {
  flex: 1;
  font-weight: 300;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.todo-container .todo-done{
  cursor: pointer;
}

.todo-container .remove-btn {
  padding: 8px 26px;
  border: none;
  border-radius: var(--border-radius-medium);
  background-color: var(--secondary-background-color);
  color: #fff;
  transition: 200ms;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.todo-container .remove-btn:hover {
  border-radius: var(--border-radius-extra-large);
}
